#extends 'base.html'

# block content
<script type=text/javascript>
window.volume_name = '{{volume_name}}'
window.book_name = '{{book_name}}'
window.chapter_num = '{{chapter_num}}'
window.verse_num = '{{verse_num}}'
</script>
<script src="/p/src/coffee/scriptureobjects.js"></script>
<script src="/p/src/coffee/scripturenavigation.js"></script>
	<div class="page-header">
		<h1>{{title}}</h1>
	</div>
<div id=leftcontent style="width:375px;">
	<ul id=breadcrumb class="breadcrumb">
	</ul>
	<div id=navigationholder ></div>
</div>
# endblock	
		