#extends 'base.html'
# block content
<div class="page-header">
	<h1>{{title}}</h1>
</div>
<div id=leftcontent style="width:375px;">
	<ul id=breadcrumb class="breadcrumb">
		<li><a href='{{url_for("scriptures")}}'>  Scriptures  </a></li>
		# if selectedVolume
			<li><a href='{{url_for("scriptures")}}{{volumeName}}'>{{selectedVolume.volume_title}}</a></li>
		# endif
		# if selectedBook
			<li><a href='{{url_for("scriptures")}}{{volumeName}}/{{bookName}}'>{{selectedBook.book_title}}</a></li>
		# endif
		# if chapterNum
			<li><a href='{{url_for("scriptures")}}{{volumeName}}/{{bookName}}/{{chapterNum}}'>{{chapterNum}}</a></li>
		# endif
	</ul>
	<div id=navigationholder >
		# if not selectedVolume
			{% for volume in volumesObjects %}
  				<a href="{{url_for("scriptures")}}{{volume}}">{{volumesObjects[volume].volume_title}}</a><br>
			{% endfor %}
		# endif
		# if selectedVolume and not selectedBook
			{% for book in selectedVolume['books'] %}
  				<a href="{{url_for("scriptures")}}{{volumeName}}/{{book}}">{{selectedVolume['books'][book].book_title}}</a><br>
			{% endfor %}
		# endif
		# if selectedBook and not chapterNum
			{% for n in range (1, selectedBook.num_chapters+1) %}
  				<a href="{{url_for("scriptures")}}{{volumeName}}/{{bookName}}/{{n}}">{{n}}</a>
  				# if n < selectedBook.num_chapters
  					- 
  				# endif
			{% endfor %}
		# endif
		# if verse_dbs and not selectedVerse
			{% for verse in verse_dbs %}
				<p>{{verse.verse}}. {{verse.verse_scripture}}<p>
			{%endfor%}
		# endif
	</div>
</div>
# endblock	
		


