#extends 'base.html'
# block content
<div class="page-header">
	<h1>{{title}}</h1>
</div>
<div id=leftcontent style="width:375px;">
	<ul id=breadcrumb class="breadcrumb">
		<li><a href='{{url_for("scriptures")}}'>  Scriptures  </a></li>
		# if selectedVolume
			<li><a href='{{url_for("scriptures")}}{{volumeName}}'>{{selectedVolume.volume_title}}</a></li>
		# endif
		# if selectedBook
			<li><a href='{{url_for("scriptures")}}{{volumeName}}/{{bookName}}'>{{selectedBook.book_title}}</a></li>
		# endif
		# if chapterNum
			<li><a href='{{url_for("scriptures")}}{{volumeName}}/{{bookName}}/{{chapterNum}}'>{{chapterNum}}</a></li>
		# endif
	</ul>
	<div id=navigationholder >
		# if not selectedVolume
			{% for volume in volumesObjects %}
  				<a href="">{{volumesObjects[volume].volume_title}}</a><br>
			{% endfor %}
		# endif
		# if selectedVolume and not selectedBook
			{% for book in selectedVolume['books'] %}
  				<a href="">{{selectedVolume['books'][book].book_title}}</a><br>
			{% endfor %}
		# endif
	</div>
</div>
# endblock	
		


