# import 'macro/forms.html' as forms
<style type="text/css" src="/p/src/less/ctrstyles.css"></style>
<script type="text/javascript" src="/p/src/coffee/scripturecontroller.js"></script>
<div class="btn-toolbar" style="margin: 0;">
	<div class="btn-group">
		<button type="submit" onclick="showCommentForm()" class="btn btn-primary">
	    	Add to the discussion
		</button>
	</div>
    <div class="btn-group">
      <select class="form-control" id="filter">
        <option>Filter by: All</option>
        <option>Questions</option>
        <option>Comments</option>
        <option>Cross Reference</option>
      </select>
      <br>
    </div>
    <div class="btn-group">
      <select class="form-control" id="sort">
        <option>Sort by: Date</option>
        <option>Like Count</option>
        <option>Author</option>
        <option>Random</option>
        <option>Reputation</option>
      </select>
      <br>
    </div>
</div>
<form class="form" id="addCommentForm2" method="POST" action="/addComment">
	<textarea class="form-control" rows="3" name="commentBody" placeholder="Add your comment here..."></textarea><br>
	<input type="text" class="form-control" name="tags" placeholder="Add tags like: faith, hope, charity, etc"><br>
	<div class="radio-inline">
	  <label>
	    <input type="radio" name="commentType" id="comment" value="comment" checked>
	    comment
	  </label>
	</div>
	<div class="radio-inline">
	  <label>
	    <input type="radio" name="commentType" id="question" value="question">
	    question 
	  </label>
	</div>
	<div class="radio-inline">
	  <label>
	    <input type="radio" name="commentType" id="crossreference" value="crossreference">
	    cross reference
	  </label>
	</div>
	{{verseId}}
	<input type="hidden" name="verse_id" value={{verseId}}>
	<button type="submit" class="btn btn-success">
	    Submit
	 </button>
</form>
<form class="form" id="addCommentForm" method="POST" action="{{url_for("scriptures")}}{{volumeName}}/{{bookName}}/{{chapterNum}}/{{verseNum}}">
	<fieldset>
	  {{form.csrf_token}}

	  {{forms.text_field(form.comment)}}

		{% for subfield in form.commentType %}
		        {{ subfield }} {{ subfield.label }}
		{% endfor %}
		{{forms.text_field(form.tags)}}
		<button type="submit" class="btn btn-success">
	    Submit
	  	</button>
	</fieldset>
</form>
# if comment_dbs
	<br>
	<table cellpadding="2">
	{% for c in comment_dbs %}
		<tr>
			<td colspan="2">
				<img src="{{c.user_key|get_usericon_by_user_key}}" height="42" width="42">
				<a href="">{{c.user_key|get_username_by_user_key}}</a>
				{{c.modified|get_pretty_date}}
			</td>
			<td>
				<div class="btn-group">
				  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
				    More <span class="caret"></span>
				  </button>
				  <ul class="dropdown-menu" role="menu">
				    <li><a href="#">Flag Comment</a></li>
				    <li><a href="#">Contact Author</a></li>
				    <li><a href="#">Juice Boost (lots of likes)</a></li>
				  </ul>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div style="white-space:pre-wrap;">{{c.comment}}</div>
			</td>
		</tr>
		{% if c.commentType == 'question' %}
			<tr>
				<td colspan="3">
					<a href="">Reply to this question</a>
				</td>
			</tr>
		{% endif %}
		<tr>
			<td colspan="2">
				{% if c.tags %}
					{% for tag in c.tags %}
						<button type="button" class="btn btn-default btn-xs">
				    		{{tag}}
				  		</button>
					{% endfor %}
				{% endif %}
			</td>
			<td>
				<a href="">like</a>
			</td>
		</tr>
		<tr>
			<td colspan="3"><hr></td>
		</tr>
	{% endfor %}
	</table>
	
# endif
</div>
