# import 'macro/forms.html' as forms
<style type="text/css" src="/p/src/less/ctrstyles.css"></style>
<script type="text/javascript" src="/p/src/coffee/scripturecontroller.js"></script>
<div class="btn-toolbar" style="margin: 0;">
	<div class="btn-group">
		<button type="submit" onclick="showCommentForm()" class="btn btn-primary">
	    	Add to the discussion
		</button>
	</div>
    <div class="btn-group">
      <select class="form-control" id="filter">
        <option>Filter by: All</option>
        <option>Questions</option>
        <option>Comments</option>
        <option>Cross Reference</option>
      </select>
      <br>
    </div>
    <div class="btn-group">
      <select class="form-control" id="sort">
        <option>Sort by: Date</option>
        <option>Like Count</option>
        <option>Author</option>
      </select>
      <br>
    </div>
</div>
	
<form class="form" id="addCommentForm" method="POST" action="{{url_for("scriptures")}}{{volumeName}}/{{bookName}}/{{chapterNum}}/{{verseNum}}">
	<fieldset>
	  {{form.csrf_token}}

	  {{forms.text_field(form.comment)}}

		{% for subfield in form.commentType %}
		        {{ subfield }} {{ subfield.label }}
		{% endfor %}
		<button type="submit" class="btn btn-success">
	    Submit
	  	</button>
	</fieldset>
</form>
# if comment_dbs
	<br>
	{% for c in comment_dbs %}
		<p>
		<img src="{{c.user_key|get_usericon_by_user_key}}" height="42" width="42">
		<a href="">{{c.user_key|get_username_by_user_key}}</a>
		{{c.modified|get_pretty_date}}  {{c.commentType}}<br>
		<div style="white-space:pre-wrap;">{{c.comment}}<br></div>
		<a href="">like</a>
		{% if c.commentType == 'question' %}
			reply link
		{% endif %}
		<div class="btn-group">
		  <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
		    More <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu" role="menu">
		    <li><a href="#">Flag Comment</a></li>
		    <li><a href="#">Contact Author</a></li>
		  </ul>
		</div>
		<br><br>
		</p>
	{% endfor %}
# endif
</div>